.Main-Container{
    height: 200vh;
    width:100%;
    background-color: #072923;

}


.Navbar-Title{
    background-color: #142421;
    height: 12vh;

    display: flex;
    justify-content: space-between;
    padding-right: 10%;

}
.First-Container{
    justify-content:flex-start;
    align-items: center;
    padding: 10%;
    display: flex;

}
.First{
    justify-content:flex-start;
    padding: 10%;
}

.Second{
    width:100%;
    background-color: #092f28;
    
}
.FirstName{
    display: block;
}
img{
    width: 43%;
    display: block;
    justify-content: center;
    align-items: center;
}

.pic-1{
    width: 70%;
    justify-content: center;
    align-items: center;
    width: 33%;
    display: block;
    justify-content: center;
    align-items: center;
    transition: transform .3s

}
.pic-1:hover{
    transform: scale(1.1);
}
.image-category{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
p{
    font-size: 20px;
    font-family: 'Helvetica Neue';
    font-weight: 200;
}

button{
    color: white;
    background-color: #3f776c;
    border: none;
    width: 245%;
    height: 9vh;
    border-radius: 5px;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    margin-top: 0.3%;
  
}
.Set-2{
    padding: 6%;
}
.Set-3{
    padding: 6%;
}
.p-tag{
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
    text-align: left;
}
 o{
    color: rgb(208, 208, 23);
    font-size: 30px;
    font-weight: 900;
}
a{
    display: flex;
    align-items: center;
    color:#fff;
    font-weight: 600;
    cursor: pointer;

}
/* a:hover{
    color: #ffff;
    background-color: #a5aea7;
} */

button:hover{
    color: #ffff;
    background-color: #a5aea7;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
}

h1{
    color:#fff;
}
.pic-1{
    width: 24%;
    justify-content: center;
    align-items: center;

}
.pic-12{
    height: 120%;
    width: 20%;
    margin-bottom: 20%;
}
l{
    color: #fff;
    font-size: 30px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 800;
    padding: 8%;
    

}
t{
    font-size: 23px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 300;
    padding: 8%;

}
.set{
    justify-content: center;
    align-items: center;
    padding: 0;
    display: grid;
    font-size: 43px;
    font-family: 'serif';
}

.Sb{
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 300;
    
}
.Third-container{
    background: #072923;
    height: 50vh;
    width: 100%;
    display: flex;
    background-color: #092f28;
    justify-content: center;
    
}
n{
    color: #fff;
    font-size: 30px;
    font-weight: 600;
}
ul{
    text-decoration: none;
}

.pic-3{
    height: 40%;
    width: 40%;
    border-radius: 50%;
    font-size: small;
}
.Footer{
    background: #072923;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.foot{
    background: #072923;
    height: 10vh;
    justify-content: center;
    align-items: center;
}
n{
    display: flex;
    justify-content: center;
    align-items: center;
}
h2{
    color: #16957d;
}
w{
    color: #fff;

}
.box{
    height: 60%;
    width: 23%;
    background-color: #9dc3bc;
    border: none;
    border-radius: 12px;
    opacity: 10%;
    display: flex; 
    justify-content: center;
    align-items: center ;
}
.box-container{
    justify-content: center;
    align-items: center;
    padding-left: 300px;
}
.box{
    height: 60%;
    width: 23%;
    background-color: #76a39b;
    border: none;
    border-radius: 12px;
    opacity: 10%;
    display: flex;
    justify-content: center;
    align-items: center ;
}
Box{
    opacity: 10%;
}




b{
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #9dc3bc;
    border: none;
    border-radius: 20px;
    height: 50%;
    width: 25%;
}
.box1{
    height: 50%;
    width: 25%;
    background-color: #9dc3bc;
    border: none;
    border-radius: 20px;
    justify-content: center;
    padding: 20%;
}



@media only screen and (max-width: 480px){
      .pic-13{
 
               width: 300px;
               align-items: center;
               justify-content: center;
               padding-left: 17%;
      }

      .Navbar-Title{
        background-color: #142421;
        height: 7vh;
        display: flex;
        justify-content: space-between;
        padding-right: 10%;
    
    }
      .First-Container{
        display: grid;
        padding: 0;
        justify-content: center;
        align-items: center;
        width:100%;
    

      }
      .set{
        justify-content: center;
        align-items: center;
        padding: 5%;
        display: block;
        text-align: center;
    }
    .Main-Container{
        height: 130vh;
    }

    button{
        color: white;
        background-color: #3f776c;
        border: none;
        width: 100%;
        height: 9vh;
        border-radius: 5px;
        font-size: 15px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        justify-content: center;
        align-items: center;
        font-weight: 600;
        margin-top: 1%;
        margin-left: 40px;
      
    }
    .btt{
        color: white;
        background-color: #3f776c;
        border: none;
        width: 100%;
        height: 5vh;
        border-radius: 5px;
        font-size: 15px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        justify-content: center;
        align-items: center;
        font-weight: 600;
        margin-top: 1%; 
    }
    .Set-2{
        text-align: center;
    }
    .p-tag{
        text-align: center;
    }
    .Set-3{
        font-size: 24px;
        text-align: left;
        padding: 5%;
    }
    .image-category{
        display: block;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .pic-1{
        justify-content: center;
        align-items: center;
        width: 80%;
        display: block;
        justify-content: center;
        align-items: center;
        transition: transform .3s
       
    
    }
    .pic-1:hover{
        transform: scale(1.1);
    }
    .Third-container{
        height: 200vh;
        padding: 0;
        display: grid;
        justify-content: center;
    }   
   .Box{
        width: 4000%;
        height: 300;
        top: 50;
        left: 50;
        cursor: "pointer";
        display: block;
        background-color: #142421;
    }
    .pic-3{
        height: 20%;
        width: 10%;
        border-radius: 50%;
    }
    .pic-12{
        height: 100%;
        width: 30%;
        margin-bottom: 30%;
        font-size: 50px;

    }
      }